body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    background-color: #545454;
    color: white;
}

h1{
text-align:center;
font-size:3em;
width:100%;
display:inline-block;
}

input{
width:50px;
color:black;
}

.done{
color:red;
}

h2{

text-align:center;
}

#logo{
margin-left: auto;
margin-right: auto;
display: inline-block;
}

span{
color:white;
}

.no-show{
color:#545454;
}

h3{
width:100%;
color:blue;
}

button{
width:100%;
float:left;
height:25%;
}

.timer-container{
padding-top: 10%;
width:80%;
margin:80px auto;
}

#btn1{
background:#448822;
color:white;
font-weight:bold;
font-size:20px;
height:80px;
}

#reset-btn{
background:#882222;
color:white;
font-weight:bold;
font-size:20px;
}

#btn2{
background:#444444;
color:white;
font-weight:bold;
font-size:20px;
}
